@font-face {
font-family:"angie-sans";
src:url(agnie.odt);
font-style:normal;
font-weight:400;
}

@font-face {
font-family:"angie-sans";
src:url(agnie-italic.odt);
font-style:italic;
font-weight:700;
}

@font-face {
font-family:"neo-sans";
src:url(neosans.ttf);
font-style:normal;
font-weight:400;
}

@font-face {
font-family:"monotype";
src:url(monotype.ttf);
font-style:normal;
font-weight:400;
}

body {
    background-color: #000;
    color: #c0c0c0;
    font-family: "neo-sans","angie-sans",sans-serif;
}

div.wrap {
    margin: auto;
    padding: 0;
    width: 960px;
    height: 100%;
}

div.header {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 960px;
}

div.header-left {
    float: left;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 300px;
    position: relative;
    /* border: solid 1px red; */
}

div.header-right {
    float: left;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 660px;
    position: relative;
    /* border: solid 1px blue; */
}

div.header a {
    text-decoration: none;
    color: #c0c0c0;
}

.header-title {
    font-size: 170%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-locator {
    color: #8080ff;
    font-size: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}

a:hover .header-locator {
    color: #ff8080;
    font-weight: bold;
}

div.content {
    background-color: #fff;
    color: #222;
    margin: 0;
    /* padding: 0; */
    padding: 10px;
    height: 100%;
    width: 960px;
    border-radius: 5px;
}

div.article-title {
    font-size: 130%;
    margin: 0;
    padding: 0;
    /* border: solid 1px black; */
}

div.article-date {
    margin: 0;
    padding: 0;
    color: #c2c2c2;
}

div.article-summary {
    padding-top: 10px;
}

div.article-content {
}

pre > code {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

div.footer {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 960px;
}