@font-face {
    font-family:"angie-sans";
    src:url(agnie.odt);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"angie-sans";
    src:url(agnie-italic.odt);
    font-style:italic;
    font-weight:700;
}

@font-face {
    font-family:"neo-sans";
    src:url(neosans.ttf);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"monotype";
    src:url(monotype.ttf);
    font-style:normal;
    font-weight:400;
}

body {
    background-color: #000;
    color: #c0c0c0;
    font-family: "angie-sans",sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.0;
}

.my-header-title {
    font-size: 150%;
    font-weight: bold;
}

.my-header-link {
    color: #8080ff;
    font-size: 100%;
    font-weight: bold;
}

a:hover .my-header-link {
    color: #ff8080;
    font-weight: bold;
}

.my-content {
    background-color: #eee;
    color: #222;
    border-radius: 5px;
}

.my-hr {
    border-color: #222;
}

.my-article-title {
    font-size: 130%;
}

.my-article-date {
    font-family: "monospace";
    color: #822;
    font-size: 70%;
    padding-bottom: 10px;
}

.my-article-summary {
}

.my-article-content,
.my-article-content p {
    font-size: 100%;
}

pre > code {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}


/* Re-customizing jumbotron */
@media (min-width: 938px) {
  .container {
    max-width: 900px;
  }
}
